@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "_normalize";


.wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;   
    display: flex;
    flex-direction: column;
    font-family: "Manrope", sans-serif;
    min-height: 100vh;
}

.header {
    background-color: black;
    padding: 10px 30px;

    &__wrap {
        img {
            max-width: 150px;
        }
    }
}

.main {
    flex: 1 1 auto;

    section {
        padding: 0 70px;
        display: flex;
        align-items: center;
    }

    .title {
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 60px;
        font-weight: 900;        
        line-height: 1;
        text-align: right;
    }

    .subtitle {
        color: #4FF100;
        font-size: 150px;
        font-weight: 900;        
        line-height: 1;
        margin-top: 10px;
    }

    .caption {
        color: #FFFFFF;
        font-size: 30px;
        letter-spacing: 18px;
        margin-top: 100px;
        text-align: center;
    }

    .one {
        background: url(../images/bg1.jpg) center no-repeat;
        background-size: cover;
        height: calc(100vh - 55px);        
        justify-content: flex-end;        
        
        &__wrap {
            max-width: 550px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;            
        }

        &__btn {
            color: #000000;
            border-radius: 50px 0 50px 50px;
            background: #51F000;
            font-size: 60px;
            font-weight: 900;
            letter-spacing: -1px;
            padding: 20px 60px;
            margin-top: 50px;
            transition: all 0.3s ease;

            &:hover{
                background: #2e8801;
            }
        }
    }

    
    .two { 
        background: url(../images/bg2.png) center no-repeat;
        background-size: cover;
        height: calc(100vh);        
        justify-content: flex-start;       
        
        &__wrap {
            max-width: 600px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;            
        }

        &__title {
            color: #000000;
            text-align: left;
        }
    }

    .three { 
        background: url(../images/bg3.jpg) center no-repeat;
        background-size: cover;
        height: calc(100vh);        
        justify-content: flex-end;       
        
        &__wrap {
            max-width: 800px;
            display: flex;
            flex-direction: column;
            align-items: center;            
        }

        &__subtitle {
            font-size: 200px;
            text-align: left;
            text-shadow: 
            2px 2px 10px rgb(0, 0, 0), 
            0 2px 10px rgb(0, 0, 0), 
            -2px 0 10px rgb(0, 0, 0), 
            0 -2px 10px rgb(0, 0, 0),     
            3px 3px 10px rgb(0, 0, 0), 
            0 3px 10px rgb(0, 0, 0), 
            -3px 0 10px rgb(0, 0, 0), 
            0 -3px 10px rgb(0, 0, 0), 
            4px 4px 10px rgb(0, 0, 0), 
            0 4px 10px rgb(0, 0, 0), 
            -4px 0 10px rgb(0, 0, 0), 
            0 -4px 10px rgb(0, 0, 0)
        }

        &__subtitle1 {
            color: #F20090;
            font-size: 130px;
            text-shadow: 
            2px 2px 2px rgb(255, 255, 255), 
            0 2px 2px rgb(255, 255, 255), 
            -2px 0 2px rgb(255, 255, 255), 
            0 -2px 2px rgb(255, 255, 255),     
            3px 3px 2px rgb(255, 255, 255), 
            0 3px 2px rgb(255, 255, 255), 
            -3px 0 2px rgb(255, 255, 255), 
            0 -3px 2px rgb(255, 255, 255), 
            4px 4px 2px rgb(255, 255, 255), 
            0 4px 2px rgb(255, 255, 255), 
            -4px 0 2px rgb(255, 255, 255), 
            0 -4px 2px rgb(255, 255, 255)
        }


    }

    
    .four { 
        background: url(../images/bg4.jpg) center no-repeat;
        background-size: cover;
        height: calc(100vh);        
        justify-content: flex-end;       
        
        &__wrap {
            max-width: 800px;
            display: flex;
            flex-direction: column;
            align-items: center;            
        }

        &__subtitle {
            font-size: 200px;
            text-align: left;
            color: #FDFEEE;
            text-shadow: 
            2px 2px 10px #DF1C48,
            0 2px 10px   #DF1C48,
            -2px 0 10px  #DF1C48,
            0 -2px 10px  #DF1C48,
            3px 3px 10px #DF1C48,
            0 3px 10px   #DF1C48,
            -3px 0 10px  #DF1C48,
            0 -3px 10px  #DF1C48,
            4px 4px 10px #DF1C48,
            0 4px 10px   #DF1C48,
            -4px 0 10px  #DF1C48,
            0 -4px 10px  #DF1C48,
        }

        &__subtitle1 {
            color: #ECD381;
            font-size: 130px;
            text-shadow: 
            2px 2px 2px #DF1C48,
            0 2px 2px   #DF1C48,
            -2px 0 2px  #DF1C48,
            0 -2px 2px  #DF1C48,
            3px 3px 2px #DF1C48,
            0 3px 2px   #DF1C48,
            -3px 0 2px  #DF1C48,
            0 -3px 2px  #DF1C48,
            4px 4px 2px #DF1C48,
            0 4px 2px   #DF1C48,
            -4px 0 2px  #DF1C48,
            0 -4px 2px  #DF1C48,
        }                
    }
}

@media all and (max-width: 1025px) {
    .main {
        flex: 1 1 auto;
    
        section {
            padding: 0 70px;
            display: flex;
            align-items: center;
        }
    
        .title {            
            font-size: 42px;            
        }
    
        .subtitle {         
            font-size: 100px;            
            img {
                max-width: 80px;
            }
        }
    
        .caption {            
            font-size: 26px;
            letter-spacing: 10px;
            margin-top: 70px;
        }
    
        .one {        

            &__wrap {
                max-width: 380px;
            }

            &__btn {                
                font-size: 30px;                
            }
        }
    
        
        .two {                        
            &__wrap {
                max-width: 400px;               
            }
    
            &__title {
                color: #000000;
                text-align: left;
            }
        }
    
        .three {          
            
            &__wrap {
                max-width: 800px;
                display: flex;
                flex-direction: column;
                align-items: center;            
            }
    
            &__subtitle {
                font-size: 120px;              
            }
    
            &__subtitle1 {                
                font-size: 90px;              
            }

        }    
        
        .four {           
            &__subtitle {       
                color: #FDFEEE;
               
            }
    
            &__subtitle1 {
                font-size: 90px;             
            }                
        }
    }
}

@media all and (max-width: 580px) {
    .main {
        flex: 1 1 auto;
    
        section {
            padding: 0 40px;
            display: flex;
            align-items: center;
        }
    
        .title {            
            font-size: 40px;            
            text-align: center;
            line-height: 1.2;
        }
    
        .subtitle {         
            font-size: 80px;  

            img {
                max-width: 65px;
            }
        }
    
        .caption {            
            font-size: 26px;
            letter-spacing: 10px;
            margin-top: 70px;
        }
    
        .one {     
            &__wrap {
                align-items: center;
                max-width: 100%;
            }   

            &__btn {                
                font-size: 26px;         
                padding: 15px 50px;       
            }
        }
    
        
        .two {                        
            &__wrap {
                max-width: 100%;  
                align-items: center;             
            }
    
            &__title {
                color: #000000;
                text-align: center;
            }
        }
    
        .three {          
            justify-content: center;
            
            &__wrap {
                max-width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;            
            }
    
            &__subtitle {
                font-size: 90px;              
            }
    
            &__subtitle1 {                
                font-size: 70px;              
            }

        }    
        
        .four {           
            justify-content: center;

            &__subtitle {       
                color: #FDFEEE;
                font-size: 90px;
               
            }
    
            &__subtitle1 {
                font-size: 70px;             
            }                
        }
    }
}

@media all and (max-width: 450px) {
    .main {
        flex: 1 1 auto;
    
        section {
            padding: 0 30px;
            display: flex;
            align-items: center;
        }
    
        .title {            
            font-size: 30px;          
            text-wrap: balance;  
        }
    
        .subtitle {         
            font-size: 60px;  

            img {
                max-width: 50px;
            }
        }
    
        .caption {            
            font-size: 26px;
            letter-spacing: 5px;
            margin-top: 70px;
        }
    
        .one {     
            &__wrap {
                align-items: center;
                
            }   

            &__btn {                
                font-size: 22px;         
                padding: 10px 40px;       
            }
        }
    
        
        .two {                        
            &__wrap {
                max-width: 100%;  
                align-items: center;             
            }
    
            &__title {
                color: #000000;
                text-align: center;
            }
        }
    
        .three {          
            justify-content: center;
            
            &__wrap {
                max-width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;            
            }
    
            &__subtitle {
                font-size: 70px;              
            }
    
            &__subtitle1 {                
                font-size: 60px;              
            }

        }    
        
        .four {           
            justify-content: center;

            &__subtitle {       
                color: #FDFEEE;
                font-size: 70px;
               
            }
    
            &__subtitle1 {
                font-size: 60px;             
            }                
        }
    }
}