@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "_normalize";


.wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;   
    display: flex;
    flex-direction: column;
    font-family: "Manrope", sans-serif;
    min-height: 100vh;
}

.header {
    background-color: black;
    padding: 10px 30px;

    &__wrap {
        img {
            max-width: 150px;
        }
    }
}

.main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .one {
        flex: 1 1 auto;
        background: url(../images/bg1.jpg) center no-repeat;
        background-size: cover;     
        display: flex;
        justify-content: center;
        align-items: center;    
        width: 100%;        
        padding: 20px 10px;      
        
        &__wrap {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));           
            gap: 20px;
            width: 100%;
            justify-content: center;
            align-items: center;    
        }

        &__item {
            padding: 0 20px;
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 5px;
            margin: 0 auto;
            padding: 10px;
        }

        &__block {            
            img {
                width: 100%;
                max-height: 307px;
                height: 100%;
                object-fit: cover;
                max-width: 700px;
            }
        }

        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000000;
            border-radius: 50px 0 50px 50px;
            background: #51F000;
            font-size: 26px;
            font-weight: 900;
            letter-spacing: -1px;            
            height: 60px;
            max-width: 300px;
            width: 100%;
            padding: 0 60px;            
            margin: 10px auto 0;
            transition: all 0.3s ease;
        
            &:hover{
                background: #2e8801;
            }
        }
    }
}

@media all and (max-width: 1440px) {
    .main {
        .one {
            &__wrap {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(530px, 1fr));           
            }
        }       
    }
}

@media all and (max-width: 1100px) {
    .main {
        .one {            
            &__wrap {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));         
                gap: 40px;  
            }

            &__btn {               
                font-size: 20px;                
                height: 50px;
                max-width: 250px;                
                padding: 0 30px;            
                margin: 10px auto 0;                            
            }
        }       
    }
}

@media all and (max-width: 860px) {
    .main {
        .one {            
            &__wrap {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));         
                gap: 10px;  
                row-gap: 50px;
            }

            &__btn {               
                font-size: 16px;                
                height: 40px;        
                margin: 10px auto 0;                            
            }
        }       
    }
}


@media all and (max-width: 709px) {
    .main {
        .one {       
            padding: 10px;     

            &__wrap {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));         
                gap: 10px;  
                row-gap: 20px;
            }

            &__item {                             
                gap: 30px;
                padding: 10px;           
            }

            &__block {     
                width: 100%;   

                img {
                    width: 100%;
                    max-height: 200px;
                    height: 100%;
                    object-fit: cover;                   
                }
            }

            &__btn {               
                font-size: 16px;                
                height: 40px;        
                margin: 10px auto 0;              
                max-width: 200px;              
            }
        }       
    }
}


@media all and (max-width: 630px) {
    .header {        
        padding: 10px 30px;
    
        &__wrap {
            img {
                max-width: 100px;
            }
        }
    }

    .main {
        .one {       
            padding: 10px 55px;     

            &__wrap {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));         
                gap: 10px;  
                row-gap: 20px;
            }

            &__item {                                             
                padding: 10px;         
            }


            &__btn {               
                margin: 5px auto 0;                           
            }
        }       
    }
}

@media all and (max-width: 540px) {
    .main {
        .one {       
            padding: 10px;     

            &__wrap {
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));         
                row-gap: 10px;
            }

            &__btn {          
                height: 35px;                               
            }
        }       
    }
}
